{% load static %}

    <!-- La clase 'container' establece un ancho máximo en todos los dispositivos y permite un relleno automático. Las clases 'd-flex' y 'justify-content-center' se utilizan para centrar el contenido horizontalmente. 'mt-1' añade un margen superior de 0.25rem (1 rem es igual al tamaño de fuente actual). -->
    <div class="container d-flex justify-content-center mt-1">
        <!-- La clase 'text-center' centra el texto y 'text-white' cambia el color del texto a blanco. 'mt-5' añade un margen superior de 3rem. -->
        <div class="text-center text-white mt-5">
            <!-- Título de bienvenida. La clase 'mt-5' añade un margen superior de 3rem y 'tipoLetra'  clase personalizada que define la fuente y  'style="font-size: 4em;"' aumenta el tamaño de la fuente a 4 veces el tamaño de fuente actual. -->
            <h1 class="mt-5 tipoLetra" style="font-size: 4em;">Welcome</h1>
            <!-- Título de las publicaciones del blog. La clase 'mt-0' elimina el margen superior y 'tipoLetra' clase personalizada que define la fuente  'style="font-size: 3em;"' aumenta el tamaño de la fuente a 3 veces el tamaño de fuente actual. -->
            <h1 class="mt-0 tipoLetra" style="font-size: 3em;">Blog Posts</h1>
        </div>
        <!-- Fin del contenedor principal -->
    </div>